{% extends 'base.html' %}
{#{% block style %}#}
{#    <style>#}
{#        .red::marker {#}
{#            color: red;#}
{#        }#}
{#        .green::marker {#}
{#            color: #389438;#}
{#        }#}
{#    </style>#}
{#{% endblock %}#}

{% block content %}
    <h2>{{ item.name }}</h2>
    Количество:

    {{ item.count|default:"Товара нет на складе" }}<br>

    <p>
        {{ item.description }}
    </p>
    <ul>
        {% for color in colors %}
            <li class="{{ color.css_view }}">{{ color.name }}</li>
        {% endfor %}
    </ul>

    <a href="/items/">Назад</a>
{% endblock %}

